<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fox.energy.user.mapper.AppProxyMapper">

    <resultMap type="AppProxy" id="AppProxyResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="rate" column="rate"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectAppProxyVo">
        select id, user_id, rate, update_time
        from app_proxy
    </sql>

    <select id="selectList" parameterType="AppProxy" resultMap="AppProxyResult">
        <include refid="selectAppProxyVo"/>
        <where>
            <if test="userId != null ">and user_id =
                #{userId}
            </if>
            <if test="rate != null ">and rate =
                #{rate}
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="Integer" resultMap="AppProxyResult">
        <include refid="selectAppProxyVo"/>
        where id = #{id}
    </select>

    <select id="selectByUserId" parameterType="Integer" resultMap="AppProxyResult">
        <include refid="selectAppProxyVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insert" parameterType="AppProxy" useGeneratedKeys="true" keyProperty="id">
        insert into app_proxy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="rate != null">rate,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="rate != null">#{rate},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="AppProxy">
        update app_proxy
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Integer">
        delete
        from app_proxy
        where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="String">
        delete from app_proxy where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>